<%= error_messages_for(:user) %>
<%= error_messages_for(:system_user) %>
<% form_for(:user) do |f| %>
  <p><%= f.label @user.dn_attribute, _("Login") %><br/>
  <%= f.text_field(@user.dn_attribute) %></p>

  <p><%= f.label(:password, _("Password")) %><br/>
  <%= f.password_field(:password) %></p>

  <p><%= f.label(:password_confirmation, _("Confirm Password")) %><br/>
  <%= f.password_field(:password_confirmation) %></p>

  <p><%= submit_tag(_('Sign up')) %></p>

  <% names = @user.attribute_names(true) -
               ["objectClass", @user.dn_attribute, "userPassword"] %>
  <% names.sort.each do |name| %>
    <p>
      <%= f.label(name, la_(name)) %>
    <% if @required_attributes.include?(name) %>
      <span class="required-attribute-mark">*</span>
    <% end %>
      <br />
      <%= f.text_field(name) %>
    </p>
  <% end -%>

  <p><%= submit_tag(_('Sign up')) %></p>
<% end -%>
