<table class="values">
  <tbody>
    <tr class="<%= cycle('even', 'odd') %>">
      <th scope="row"><%= _("Read only") %></th>
      <td><%= boolean_value(attribute.read_only?) %></td>
    </tr>

    <tr class="<%= cycle('even', 'odd') %>">
      <th scope="row"><%= _("Single value") %></th>
      <td><%= boolean_value(attribute.single_value?) %></td>
    </tr>

    <tr class="<%= cycle('even', 'odd') %>">
      <th scope="row"><%= _("Binary") %></th>
      <td><%= boolean_value(attribute.binary?) %></td>
    </tr>

    <tr class="<%= cycle('even', 'odd') %>">
      <th scope="row"><%= _("Binary required") %></th>
      <td><%= boolean_value(attribute.binary_required?) %></td>
    </tr>

    <tr class="<%= cycle('even', 'odd') %>">
      <th scope="row"><%= _("Syntax") %></th>
      <td><%= link_to_syntax(attribute.syntax) %></td>
    </tr>
  </tbody>
</table>
<% reset_cycle %>
