
<div class="attributes">
  <table class="values">
    <thead>
      <tr>
	<th><%= _("Attribute name") %></th>
	<th><%= _("Value") %></th>
	<th><%= _("Description") %></th>
      </tr>
    </thead>

    <tbody>
<% (entry.attribute_names(true) - ["objectClass"]).sort.each do |name| -%>
      <tr class="<%= cycle('even', 'odd') %>">
	<th scope="row"><%= link_to_attribute(name) %></th>
	<td><%= h(entry[name, true].join(", ")) %></td>
	<td><%= h(lad_(name)) %></td>
      </tr>
<% end -%>
    </tbody>
  </table>
</div>
<% reset_cycle %>
