      </div>

      <div class="sidebar">
        <h2>プロジェクトについて</h2>
	<ul>
	  <li><a href="http://activeldap.github.io/">プロジェクトページ</a></li>
	  <li>
	    <a href="https://groups.google.com/d/forum/activeldap-commit">コミットメール</a>
	  </li>
	  <li>
	    <a href="http://github.com/activeldap/">GitHubページ</a>
	  </li>
	</ul>

        <h2>ActiveLdapについて</h2>
	<ul>
	  <li class="menu-reference">
            <a href="<%= paths[:top] %>/activeldap/ja/">リファレンス</a>
          </li>
	  <li class="menu-tutorial">
	    <a href="<%= paths[:top] %>/activeldap/ja/file.tutorial.html">チュートリアル</a>
	  </li>
	  <li class="menu-rails">
	    <a href="<%= paths[:top] %>/activeldap/ja/file.rails.html">Rails</a>
	  </li>
	  <li class="menu-install">
	    <a href="<%= paths[:top] %>/index.html.ja#activeldap-install">インストール</a>
	  </li>
	  <li class="menu-development">
	    <a href="<%= paths[:top] %>/activeldap/ja/file.development.html">開発者向け情報</a>
	  </li>
	</ul>

        <h2>ActiveLdap Fabricationについて</h2>
	<ul>
	  <li class="menu-reference">
            <a href="<%= paths[:top] %>/activeldap-fabrication/ja/">リファレンス</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sponsors">
      <p id="sponsor-github">
        <a href="http://github.com/activeldap/">
          <img src="<%= paths[:top] %>/github-logo.png" width="100" height="45" border="0" alt="ActiveLdapプロジェクトはGitHubにホスティングしてもらっています。" />
        </a>
      </p>
      <p id="sponsor-tango">
	<a href="http://tango.freedesktop.org/">
          <img width="120" height="53" border="0" alt="Tango Desktop Projectのアイコンを利用しています。" src="<%= paths[:top] %>/tango-logo.png" />
        </a>
      </p>
    </div>
