<div class="header">
  <div class="title">
    <a href="<%= paths[:top] %>/">
      <span class="title"><%= title %></span>
      <span class="title-separator">-</span>
      <span class="title-project">ActiveLdap</span>
    </a>
  </div>
  <ul class="other-languages">
    <li id="other-language-japanese" lang="ja" xml:lang="ja"><a href="<%= paths[:package] %>/ja/<%= paths[:current] %>">日本語</a></li>
  </ul>
  <ul class="menu">
    <li><a href="<%= paths[:top] %>/#activeldap-about">ActiveLdap</a></li>
    <li><a href="<%= paths[:top] %>/#activeldap-fabrication-about">ActiveLdap Fabrication</a></li>
  </ul>
</div>

<div class="content">
  <div class="main">
