<div class="header">
  <div class="title">
    <a href="<%= paths[:top] %>/ja/">
      <span class="title"><%= title %></span>
      <span class="title-separator">-</span>
      <span class="title-project">ActiveLdap</span>
    </a>
  </div>
  <ul class="other-languages">
    <li id="other-language-english" lang="en" xml:lang="en"><a href="<%= paths[:package] %>/en/<%= paths[:current] %>">English</a></li>
  </ul>
  <ul class="menu">
    <li><a href="<%= paths[:top] %>/ja/#activeldap-about">ActiveLdap</a></li>
    <li><a href="<%= paths[:top] %>/ja/#activeldap-fabrication-about">ActiveLdap Fabrication</a></li>
  </ul>
</div>

<div class="content">
  <div class="main">
